body{
    align-content: center;
    background-color: rgb(70, 150, 184);
    text-align: center;
    text-transform: capitalize;
    text-overflow: ellipsis;
    text-overflow: clip;
   
    
}

.hella{
    font-size: large;
    display: block;
}

.box {
    width: 300px;
    /* padding: 20px; */
    padding-bottom: 20px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 50px;
    background-color: rgb(58, 151, 194);
}

.input{
    border-radius: 4px;
    background-color: rgb(133, 196, 196);
    text-decoration-skip: none;
    font-display: inherit;
}

.out{
    border-radius: 5px;
}

.hed{
    background-color: rgb(29, 165, 165);
}