header{
    font-size: larger;
    font-style: italic;
    font-optical-sizing: 10px;
    color: rgb(23, 170, 170);
    text-transform: capitalize;
    text-shadow: 5cap;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(39, 36, 36);
    text-align: center;  
    border: 4cm;
}