body {
    font-family: 'Arial', sans-serif;
    background-color: #b49696;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.container {
    background-color: rgb(167, 128, 128);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(190, 176, 176, 0.1);
    max-width: 600px;
    width: 100%;
}

h1, h2 {
    text-align: center;
}

.menu-section {
    margin: 20px 0;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.menu-item p {
    margin: 0;
}

button {
    padding: 10px;
    border: none;
    background-color: #7a8360;
    color: rgb(14, 13, 13);
    border-radius: 5px;
    cursor: pointer;
}

button:active {
    background-color: #0056b3;
}

.total-section {
    text-align: center;
    margin-top: 30px;
}

.payment-methods button {
    margin: 5px;
}
